@use 'vars';

.hero {
    display: flex;
    padding: 5.6vw;
    min-height: 80vh;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../images/matrix_1920_1080.jpg);
    justify-content: center;
    align-items: end;
    background-size: cover;
    z-index: 2;
    // background-color: vars.$background2;

    &__content {
        padding: 0;
    }

    &__branding {
        margin-top: 16px;
        width: 90%;
    }
}