$background1: #56d971;
$background2: #3c4245;

$background: #eee;
$backgroundMetadata: #986c90;

$colorCharacterHover: #ffc48c;

$colorWhite: #eee;
$colorButtonOnBlack: $background1;
$colorButtonOnBlackHover: #59a369;

$colorMainText: #040714;
$colorTextGreen: #59a369;
$colorTextBlack: #191919;

$-confort: 'Comfortaa', cursive;
$-dela: 'Dela Gothic One', cursive;
$-nabla: 'Nabla', cursive;
$fonts: (
    "confort": $-confort,
    "dela": $-dela,
    "nabla": $-nabla, 
);