@use 'vars';
@use 'header';
@use 'hero';
@use 'movie';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    li {
        list-style: none;
    }
}

body {
    // display: flex;
    // justify-content: center;
    background-color: vars.$background;
}

.container {
    max-width: 75%;
    margin-top: 3vw;
    border-radius: 3%;
    background-color: white;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 5px;
    color: vars.$colorMainText;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    // color: ;
}

.title {
    @include title();

    &--big-big {
        @include title(48px);
    }
    &--big {
        @include title(44px);
    }
    &--small {
        @include title(25px);
    }
    &--smaller {
        @include title(22px);
    }

    &--on-black {
        // color: vars.$colorWhite;
        font-family: Nabla, sans-serif;
    }
}

.text {
    @include text();

    &--big {
        @include text(18px);
    }
    &--small {
        @include text(12px);
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: vars.$colorTextBlack;
    background-color: vars.$background1;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 8px 16px;
    letter-spacing: 1px;
    border: 1px solid vars.$colorTextBlack;
    font-weight: bold;
    font-family: Dela, sans-serif;

    &:hover {
        background-color: lighten(vars.$background1, 5%);
    }

    &--secondary {
        color: vars.$colorTextGreen;
        background-color: vars.$background2;
    }

    &--dark {
        color: vars.$colorTextGreen;
        background-color: rgba(vars.$colorTextBlack, .8);
    }
}