@use 'vars';
@use 'hero';
@use 'movie';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: vars.$background;
}

.container {
    max-width: 75%;
    margin-top: 3vw;
    border-radius: 3%;
    background-color: white;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 5px;
    color: vars.$colorMainText;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    // color: ;
}

.title--big {
    @include title(44px);
}
.title {
    @include title();
}
.title--small {
    @include title(28px);
}

.text--big {
    @include text(18px);
}
.text {
    @include text();
}
.text--small {
    @include text(12px);
}